{% extends "base.html" %}
{% block content %}
<h2>Delete Instructor</h2>
<form method="post" style="text-align:center; margin-top:20px;">
  <input type="number" 
         name="instructor_id" 
         placeholder="Enter Instructor ID to Delete"
         required
         style="padding:8px; width:260px; border-radius:6px; border:1px solid #aaa;">
  <br><br>
  <button type="submit" class="clear-btn delete-btn">Delete Instructor</button>
  <a href="/instructors" class="clear-btn">Cancel</a>
</form>

{% endblock %}
