{% extends "base.html" %}
{% block content %}
<h2>Add New Student</h2>

<form method="POST" style="width: 400px; margin: auto; background: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);">
  <label>First Name:</label><br>
  <input type="text" name="first_name" required><br><br>

  <label>Last Name:</label><br>
  <input type="text" name="last_name" required><br><br>

  <label for="myDropdown">Choose an option:</label>
    <select name="myDropdown" id="myDropdown">
        <option value="Bioengineering">Bioengineering</option>
        <option value="Chemical Engineering">Chemical Engineering</option>
        <option value="Computer Science & Engineering">Computer Science & Engineering</option>
        <option value="Electrical & Computer Engineering">Electrical & Computer Engineering</option>
        <option value="Mechanical Engineering">Mechanical Engineering</option>
    </select>
  <br><br>

  <label>Date of Birth:</label><br>
  <input type="date" name="date_of_birth" required><br><br>

  <button type="submit" class="clear-btn">Add Student</button>
  <a href="/students" class="clear-btn" style="background-color: #777;">Cancel</a>
</form>
{% endblock %}
